/* Wisata start */
.ctm-padding-top {
    padding-top: 130px;
}
.ctm-margin-x {
    margin: 0 50px;
}
.ctm-grid {
    display: grid;
}

/* Wisata Filter start */
.box-filter {
    margin-top: 24px;
    background-color: #efdbfe;
    border-radius: 4px;
    padding: 18px 30px;
    min-width: 300px;
}
.form-check {
    margin-top: 12px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.form-check-label {
    padding-left: 18px;
    font-weight: 400;
    font-size: 16px;
}
/* Wisata Filter end */

/* Konten start */
.konten-box {
    padding-left: 18px;
    box-sizing: border-box;
}
/* Konten end */

/* Wisata end */
